# انسخ إلى .env وعدّل القيم قبل: docker compose up -d
# BOTHUB_IMAGE=ghcr.io/YOUR_GITHUB_USERNAME/shakowa:latest
BOTHUB_IMAGE=ghcr.io/kkh95x/shakwaa:latest
PORT=3000

MONGODB_DB_NAME=shakwaa
NEXT_PUBLIC_APP_URL=https://shakwaa.mod-syria.org

AUTH_SECRET=85684f3241609627f2fdc72e889eb09bf8e2d63973ddd2883843eeed099def08400744b4c24915cd8089ef7fb0d595d7
ENCRYPTION_KEY=6e4ce6d1884559c3396076c1d087178aae3f41fda6512531dddb3a678073656a
TELEGRAM_USE_POLLING=true
GRIDFS_BUCKET=appFiles
TOTP_ISSUER=shakwaa
REQUIRE_2FA_FOR_ADMINS=false

VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@bothub.local

SEED_SUPER_ADMIN_USERNAME=superadmin
SEED_SUPER_ADMIN_PASSWORD=49sM58vNHUDZEc_e5T0Hvw!A1
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=r8iTRXq3H_jAFLu0X1ty7Q!B2
